body {
  font-family: 'Poppins', sans-serif !important;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(19, 18, 18) !important;
}

.logo {
  height: 250px;
  width: auto;
  margin-top: 100px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  
}

.my-form {
  /* background: rgba(255, 255, 255, 1); */
  /* box-shadow: 3px 3px 5px 6px rgb(0, 0, 0);  Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  /* margin: 5%; */
  padding: 20px 0px;
  height: 60vh;
  background: transparent !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  color: white !important;
  border-radius: 0% !important;
  /* text-align: center !important; */
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}

.edit-form {
  background: transparent !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  color: black !important;
  border-radius: 0% !important;
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}

.full-page-div {
  height: 100vh;
  background-color: rgb(44, 43, 43);
}

.mycont {
  color: white;
  padding-top: 10%;  
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.logout-but {
  margin: 1% !important;
  /* background: darkgray !important; */
}

/* .search_text {
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  color: white;
} */

input[type="date"] {
  background: none;
  color: darkgray;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  /* -webkit-align-items: center;
  display: -webkit-inline-flex;
  font-family: monospace;
  overflow: hidden;
  padding: 0;
  -webkit-padding-start: 1px; */
}

/*
input::-webkit-datetime-edit {
 -webkit-flex: 1;
 -webkit-user-modify: read-only !important;
 display: inline-block;
 min-width: 0;
 overflow: hidden;
}

input::-webkit-datetime-edit-fields-wrapper {
 -webkit-user-modify: read-only !important;
 display: inline-block;
 padding: 1px 0;
 white-space: pre;
} */

input[type=date]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
  color: black !important;
}


/* -------------------- CHECK BOX FROM ---------------------------*/
